[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc = "0.8.20"
optimizer = true
optimizer_runs = 200

[rpc_endpoints]
tenderly = "${TENDERLY_RPC_URL}"

[etherscan]
tenderly = { key = "${TENDERLY_ACCESS_KEY}", url = "${TENDERLY_VERIFICATION_URL}" }
